{{> navbar}}
<br/>
<h2>Listado de productos</h2>
<div class="container">
{{#if productsExist}}
    {{#each products}}
        <div class="lista">
            {{this.title}}
            {{this.price}}
            <img src="{{this.thumbnail}}" class="product-img"/>
        </div>
    {{/each}}
{{/if}}
</div>