<header>
  <h2>Coderhouse</h2>
  <a href="/" class="home">Home</a>
  <a href="/cart" class="home">Carrito</a>
  <a href="/login" class="home">Login</a>
  <a href="/signup" class="home">Registrar</a>

</header>